@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos text';
}
header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.headerLogo img{
    border: 2px solid red;
    max-width: 30%;
}
.headerNav{
    border: 2px solid red;
    
}
.headerNav > ul{
    display: flex;
}
.headerCheckoutbutton{
    border: 2px solid red;
}