.contact{
    height:60vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.contactMap{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
.contactCard{
    width: 30%;
    height: 50vh;
    flex-direction: column;
    z-index: 2;
    position: relative;
    align-self: center;
    justify-content: space-around;
}
.contactCard.active .contactCardFront{
    transform: perspective(1000px) rotateY(180deg);
}
.contactCardFront{
    position: absolute;
    width: 100%;  
    height: 100%;
    background: $secondary-background-color;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(0deg);
    transition: 1s;
}
.contactCardTitle{
    text-align: left;
    margin: 2rem 0 0 2rem;
}
.contactCardTitle h2{
    color:hsl(0, 0%, 0%);
    font-weight: 600;
    font-size: 2rem;
}
.contactCardElement{
    display: flex;
    gap: 1rem;
    margin: 2rem 0 0 2rem;
    align-items: center;
}
.contactCardElementImage{
    width: 1.5rem;
}
.contactCardElementImage img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.contactCardElementInfo{
    text-align: left;
}
.contactCardElementInfo p{
    opacity: 0.7;
    font-size: 1.2rem;
}
.contactCardButton button{
    width: 100%;
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 1.1rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s linear;
    width: 80%;
    margin: 8% 8% 10% 8%;
}
.contactCardButton button:hover{
    
    background-color: $hover-color;
}
.contactCardBack{
    position: absolute;
    width: 100%;
    background: $secondary-background-color;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(-180deg);
    display: flex;
    justify-content: space-around;
    transition: 1s;
    padding-top: 4rem;
}
.contactCard.active .contactCardBack{
    transform: perspective(1000px) rotateY(0deg);
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
}
.contactFormUserdata{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
.userName{
    height: 3rem;
}
.userName input{
    padding:0.5rem 1rem;
    width: 100%;
    height: 100%;
}
.userEmail{
    height: 3rem;
}
.userEmail input{
    padding:0.5rem 1rem;
    width: 100%;
    height: 100%;
}
.contactFormSubject{
    height: 3rem;
    width: 100%;
}
.contactFormSubject input{
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
}
.contactFormMessage{
    width: 100%;
    height: 1000%;
}
.contactFormMessage textarea{
    padding: 1.5rem 1rem;
    width: 100%;
    height: 100%;
    text-align: start;
    resize: none;
}
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem;
}
.closeButton button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.messageButton{
    width: 100%;
}
.messageButton button{
    background-color: $primary-color;
    border: none;
    color: white;
    width: 100%;
    padding: 1.1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s linear;
    margin-bottom: 2rem;

}
.messageButton button:hover{  
    background-color: $hover-color;
}