.faqs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$primary-background-color;
}
.faqsHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.headerTitle{
    text-align: center;
}
.headerTitle h2{
    color: $text-color;
    font-size: 3rem;
    font-weight: 600;
}
.headerSubtitle{
    width: 60%;
    text-align: center;
}
.headerSubtitle p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 30px;
}
.faqsFaq{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.faqElement{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.faqElementTitle{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.faqElementTitle h4{
    font-weight: 600;
    font-size: 1.2rem;
    color:hsl(0, 0%, 0%);
}
.faqElementTitleIcon{
    width: 1rem;
    justify-content: end;
}
.faqElementTitleIcon button{
    border: none;
    background-color:$primary-background-color;
}
.faqElementTitleIcon img{
    width: 100%;
    object-fit: contain;
}
.faqElementTitle::after{
    content: '';
    position: absolute;
    background-color: hsl(0, 12%, 93%);
    width: 70%;
    height: 1px;
    margin-top: 2rem;
}
.faqElementAnswer{
    text-align: left;
}