.modal{
    display:none;
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    
}
.modal.active{
    display:flex;
    z-index: 1;
    position: fixed;
    top:0;
}
.modalBackground{
    backdrop-filter: blur(2px);
    height: 100vh;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    width: 100%;
    position: absolute;
}

.modal.active{
    opacity: 1;
    z-index: 2000;
}
.modalCard{
    position :absolute;
    background-color: $secondary-background-color;
    width: 50%;
    z-index: 1000;
    top: 15%;
    bottom: 10%;
    right: 25%;
    height: 70%;
    display: flex;
    overflow: hidden;
}
.modalCard .closeButton{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 2000;
}
.modalCard .closeButton button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: hsl(0, 0%, 50%);
    transition: 0.5s;
}
.closeButton button:hover{
    color: hsl(0, 0%, 0%);
}
.modalCarrousel{
    width: 45%;
    background-color: $primary-background-color;
    z-index: 2000;
}
.modalCarrouselImage{
    width: 100%;
    height: 100%;
}
.modalCarrouselImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.modalProduct{
    width: 110%;
    display: flex;
    height: 100%;
    transition: 0.3s;
    background-color: $secondary-background-color;
    position: absolute;
    left: 45%;
}
.modalProduct.active{
    transform: translateX(-50%);
}
.productInfo{
    width: 50%;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;

}
.productInfo.active{
    transform: translateX(-50%);
}
.productInfoElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}
.productInfoElement:not(:last-child)::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: $primary-background-color;
    margin-top: 1rem;
}
.ElementTitle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
}
.ElementTitleCategory h4{
    color: grey;
    font-weight: 400;
}
.ElementTitleContent h2{
    font-weight: 600;
    font-size: 2rem;
}
.ElementTitleSpecific h5{
    color:hsl(0, 0%, 73%);
}
.ElementTitlePrice{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.PriceOriginal{
    font-size: 1.5rem;
    text-decoration: line-through;
}
.PriceActual{
    font-size: 2rem;
    color: $primary-color;
    font-weight: 600;
}
.PriceTag{
    background-color: $secondary-color;
    border-radius: 5px;
    display: flex;
    height: 1rem;
}
.PriceTag p{
    font-size: 0.7rem;
    font-weight: 600;
    color: $primary-background-color;
    align-self: center;
}
.ElementDescription p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
}
.productForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ElementSpecifics{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}
.specificsStock{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.specificsStockNumber h5{
    color: grey;
}
.specificsPlan{
    display: flex;
    flex-direction: column;
}
.specificsPlanTypes{
    display: flex;
}
.Checkoutbutton{
    width: 100%;
}
.Checkoutbutton button{
    background-color: $primary-color;
    border: none;
    color: white;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s linear;
    margin-bottom: 2rem;

}
.Checkoutbutton button:hover{  
    background-color: $hover-color;
}
.productForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
}
.formGobackbutton{
    width: 25%;
}
.formGobackbutton button{
    width: 100%;
    border: 1px solid $primary-background-color;
    border-radius: 50px;
    background-color: $secondary-background-color;
    padding: 0.5rem 0;
    transition: 0.5s;
}
.formGobackbutton button:hover{ 
    background-color: $hover-color;
    color: hsl(0, 0%, 100%);
}
.formUserName{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.productForm input{
    padding: 1rem 0.5rem;
    text-align: left;
    width: 100%;
    background-color: $tertiary-background-color;
    border: 1px solid $primary-background-color;
    color: hsl(0, 0%, 75%);
}
.productForm input::placeholder{
    color: hsl(0, 0%, 75%);
}
.productForm div:has(input){
    width: 90%;
}
.formUserArea{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.payButton{
    width: 90%;
}
.payButton button{
    background-color: $primary-color;
    border: none;
    color: white;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s linear;
    margin-bottom: 2rem;

}
.payButton button:hover{  
    background-color: $hover-color;
}
