.notification{
    position: fixed;
    display:none;
    bottom: 5%;
    right: 5%;
    background-color: $secondary-background-color;
    z-index: 5000;
    width: 15%;
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.notification.active{
    display: flex;
}
.notification.discard{
    background-color: $secondary-color;
    opacity: 0.9;
}
.notification.add{
    background-color: $primary-color;
    opacity: 0.9;
}
.notificationTitle{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificationTitle h4{
    color: white;
}
.notificationProduct{
    height: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.notificationProduct p{
    color: white;
    
}
