.main{
    display: flex;
    justify-content: flex-end;
}
.log{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%; 
}
.logElement{
    height: 10vh;
    display: flex;
    flex-direction: column;
}