
$primary-color: hsl(209, 100%, 50%);
$secondary-color: hsl(18, 100%, 57%);
$hover-color: hsl(204, 15%, 26%);
$primary-background-color: hsl(0, 9%, 96%);
$secondary-background-color: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 24%);
$secondary-text-color: hsl(207, 5%, 56%);

$font-stack: 'Poppins', sans-serif;
$font-stack-condensed: 'Poppins', sans-serif;

